.tech{
width:30%;
text-align:left;
margin-left:0px;}
#update {
display:none;
width:350px;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
	margin-left:5px;
	margin-top:5px;
	box-shadow:5px 5px 5px #888888;
	border:2px solid #888888;
}
#coupup {
	display:none;
width:350px;
background-color:white;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
	margin-left:5px;
	margin-top:5px;
	box-shadow:5px 5px 5px #888888;
	border:2px solid #888888;
}
div.update1{
position:relative;
width:100%;}
div.update2{
position:relative;
width:100%;}
img{margin-left:5px;
margin-top:5px;
	width:340px;}